<!DOCTYPE html>
<html lang="vi">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>Chill With Me</title>

        <!-- JQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <!-- Font Quicksand -->
        <link
            href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"
            rel="stylesheet"
        />

        <!-- Fonts -->
        <link rel="dns-prefetch" href="//fonts.gstatic.com" />
        <link
            href="https://fonts.googleapis.com/css?family=Nunito"
            rel="stylesheet"
        />

        <!-- font-awesome icons -->
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
            integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
            crossorigin="anonymous"
        />

        <!-- Styles -->
        <link href="../../public/css/app.css" rel="stylesheet" />

        <!-- Bootstrap 4 -->
        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous"
        />
    </head>

    <body>
        <div id="app">
            <nav
                class="
                    navbar navbar-dark navbar-expand-md
                    bg-transparent
                    text-white
                    mt-3
                "
            >
                <div class="container">
                    <a class="navbar-brand font-weight-bold" href="#">
                        ChillWithMe
                    </a>
                    <button
                        class="navbar-toggler"
                        type="button"
                        data-toggle="collapse"
                        data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                    >
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div
                        class="collapse navbar-collapse"
                        id="navbarSupportedContent"
                    >
                        <!-- Left Side Of Navbar -->
                        <ul class="navbar-nav mr-auto"></ul>

                        <!-- Right Side Of Navbar -->
                        <ul class="navbar-nav ml-auto">
                            <!-- Authentication Links -->
                            <!-- Chưa đăng nhập -->
                            <li class="nav-item">
                                <a class="nav-link" href="#">Đăng nhập</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Đăng ký</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <main class="py-4">
                <div class="container-fluid">
                    <div class="row d-flex justify-content-center">
                        <img
                            class="col-xl-4 col-lg-4 col-md-6 col-10 mt-3"
                            src="../../public/img/happy_music.svg"
                            alt=""
                        />
                    </div>
                    <div class="row d-flex justify-content-center mt-3">
                        <form
                            class="col-xl-6 col-lg-6 col-md-8 col-12"
                            id="form-login"
                            method="POST"
                            action="#"
                        >
                            <div class="form-group row">
                                <input
                                    placeholder="Tên đăng nhập"
                                    id="email"
                                    type="email"
                                    class="
                                        input-login
                                        @error('email')
                                        is-invalid
                                        @enderror
                                    "
                                    name="email"
                                    required
                                    autocomplete="email"
                                    autofocus
                                />
                            </div>

                            <div class="form-group row">
                                <input
                                    placeholder="Mật khẩu"
                                    id="password"
                                    type="password"
                                    class="
                                        input-login
                                        @error('password')
                                        is-invalid
                                        @enderror
                                    "
                                    name="password"
                                    required
                                    autocomplete="current-password"
                                />
                            </div>

                            <div class="form-group row">
                                <button
                                    id="login-btn"
                                    type="submit"
                                    class="btn btn-outline-success"
                                >
                                    Đăng nhập
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </main>
        </div>
    </body>
    <!-- Bootstrap 4 -->
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"
    ></script>
    <script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"
    ></script>

    <!-- Scripts -->
    <!-- <script src="./js/room.js"></script> -->
</html>
